{% extends 'base.html' %}
{% load static %}

{% block title %} Página Inicial {% endblock %}

{% block content %}
  {% for new in news %}
    <a href="{% url 'news-details-page' new.id %}">
      <div class="news-container">
        <h2 class="news-title">{{new.title}}</h2>
        <span class="news-date">{{new.created_at|date:"d/m/Y"}}</span>
        {% if not new.image %} 
            <p>Essa noticia nao tem imagem</p>
        {% else %}
        <img src="{% static new.image.url %}" alt="Imagem da noticia">
        {% endif %}
      </div>
    </a>
  {% empty %}
  <h2>Sem noticias no momento!</h2>
  {% endfor %}
{% endblock %}